.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
.box-action
{
    position: fixed;
    right: 41px;
    z-index: 9;
    top:40%;
    /*transform: translateY(-50%);*/
    /*top:50%;*/

}
.box-action a
{
    display: block;
    border: 1px solid #dedede;
    margin-bottom: 5px;
    padding: 5px;
    background-color: white;
    color: #000;
}
.box-action a:hover,.box-action a:focus
{
    color: red;
    text-decoration: none;
}

.help-block
{
    color: red !important;
}
a:hover,a:focus ,a:active
{
    text-decoration: none !important;
}
.iconHome
{
    min-width: 30px;text-align: center
}